
<div class="container">
    <div class="words-box box">
        <img class="img" src="../../assets/badwords.png" alt="">
        <p class="redtext l35">Angular list of prohibited words</p>
        <div class="grayfon">
       <button class="det" [routerLink]="[ '/works/cenzor']">details</button>
       </div>
    </div>
    <div class="task-list-box box">
        <img class="img" src="../../assets/tasklist.png" alt="">
        <p class="redtext">Angular task list</p>
        <div class="grayfon">
        <button class="det" [routerLink]="[ '/works/tasklist']">details</button>
        </div>
    </div>
    <div class="user-list-box box">
        <img class="img" src="../../assets/userlist.png" alt="">
        <p class="redtext">Angular users list</p>
        <div class="grayfon">
        <button class="det" [routerLink]="[ '/works/userslist']">details</button>
        </div>
    </div>
</div>

